@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('./fonts/Atkinson-Hyperlegible-Regular-102.eot') format('embedded-opentype'),
       url('./fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Atkinson Hyperlegible"; 
  src: url('./fonts/Atkinson-Hyperlegible-Bold-102.eot') format('embedded-opentype'),
       url('./fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Atkinson Hyperlegible"; 
  src: url('./fonts/Atkinson-Hyperlegible-Italic-102.eot') format('embedded-opentype'),
       url('./fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Atkinson Hyperlegible"; 
  src: url('./fonts/Atkinson-Hyperlegible-BoldItalic-102.eot') format('embedded-opentype'),
       url('./fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Atkinson Hyperlegible", Helvetica, sans-serif;
}

.resource {
  display: inline-block;
  padding: 3px 7px 3px 7px;
  margin: 1px;
  border-radius: 0.2em;
  border: 0;
  line-height: 1.2em;
  overflow-wrap: break-word;
  color: #444d56;
}

.uri {
  cursor: pointer
}

/* Giant goldfish color palette */
.subject {
  background: #69D2E7;
}

.predicate {
  background: #A7DBD8;
}

.object {
  background: #E0E4CC;
}

.cpld-box {
  background: rgba(170, 170, 170, 0.2);
  cursor: pointer;
}

.cpld-decorated:hover {
  background: rgba(170, 170, 170, 0.2); 
  cursor: pointer;
}


.cpld-decorated::before {
  content: "◊ ";
  font-weight: bold;
  color: gainsboro;
}

.cpld-decorated:hover::before {
  color: #FA6900;
}

.cpld-triple-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.toast {
  max-width: 420px;
}

.toast-body {
  max-height: 500px;
  overflow-y: scroll;
}

.toast-header:hover {
  background: #FA6900; 
}

.toast-header:hover .text-primary {
  color: white!important;
}

.cpld-highlight {
  background: #FA6900; 
}

.cpld-highlight .text-primary {
  color: white!important;
}

#cpld-body-left {
  flex: 0 0 15px;
}

#cpld-body-right {
  flex: 0 0 450px;
}

#cpld-body-content {
  overflow-y: auto;
  font-family: "Atkinson Hyperlegible";
}

:target {
  scroll-margin-top: 300px;
}

#cpld-navbar {
  padding-left: 36px;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(80, 80, 80);
}

h1 {
  font-size: 30px;
  font-weight: normal;
  margin-top: 32px!important;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 32px!important;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

#cpld-body-content p, #cpld-body-content div {
  font-size: 18px;
  color: rgb(46, 46, 46);
} 

#cpld-body-content p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  margin: 0 0 16px;
}


#cpld-body-content section {
  margin-bottom: 8px;
}

header span {
  color: rgb(12, 125, 187);
}

#cpld-body-content a {
  color: rgb(12, 125, 187);
  max-width: 850px;
}

#cpld-document-uri {
  max-width: 577px;
  white-space: nowrap;
  overflow: hidden;
}

/* dl {
  display: grid;
  grid-template-columns: max-content auto;
}

dt {
  grid-column-start: 1;
  padding-right: 1em;
}

dd {
  grid-column-start: 2;
} */

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

dd {
  display: block;
  margin-inline-start: 40px;
}

dt {
  display: block;
  float: left;
  padding-right: 10px;
}


dd p:first {
  margin-block-start: 0em;
}

dd p:last {
  margin-block-end: 0em;
}
